
.primaryButton{
  padding: 0.8rem 1.5rem;             
    border-radius: 5px;                 /* Bordes redondeados */
    cursor: pointer;
    color: white;                           
    text-decoration: none;
    text-align: center;
    background-color: var(--button-color);
    border-style: solid;
    border-color: white;
    border-width: 2%;
}

.primaryButton:hover{
  background-color: var(--primary-color);
  color: white;
}
