

.contenedor{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0rem 2rem 0rem 2rem;
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem 0 0 0;
}

.link {
    color:aqua;

}

.link:hover{
    color: var(--secondary-color);
}

.creditos{
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
}

/* Modificaciones para diseño responsive */

@media screen and (min-width: 320px) and (max-width: 767px){

    .contenedor{
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 0rem 2rem;
        
    }

    .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    padding: 0 0 0 0;
}

.creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



}