.header {
    width: 100%;
    padding: 1rem 0;
    
   
    
}

/* del elemento UL que es el que tiene el poder de modificar los items de la lista */
.header__nav__list{

display: flex; 
display: center;
gap: 10rem;
list-style: none; 
padding: 1rem 0rem 0rem 8rem;
margin: 0;
}

.header__nav__list__element{
font-weight: 500;
font-size: 1rem;
color: var(--secondary-color);
text-decoration: none;

}

.header__nav__list__element:hover{
    color: var(--primary-color);
}

.menuToggle {
    display: none; 
}

/* Modificaciones para el diseño responsive
 */

 @media screen and (min-width: 320px) and (max-width: 767px){

   
    /* 1. Mostrar el ícono de Hamburguesa */
    .menuToggle {
        
        display: block; 
        position: relative;
        z-index: 1002;
        margin-left: 1rem;
    }

    .header__nav {
        display: none; 
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; 
        background-color: var(--color-fondo-oscuro);
        padding-top: 60px; 
        /* nav esté por encima de todo */
        z-index: 1000; 
    }

    .navOpen {
        background-color: rgba(0, 0, 0, 0.9);
        display: flex; /* Sobrescribe 'display: none' */
        flex-direction: column; /* Apila los enlaces verticalmente */
        align-items:flex-start;
        justify-content: start;
        height: 50%;
        width: 90%;
    }
    
     .header__nav__list {
        width: 100%;
        flex-direction: column; /* Apila los <li> en columna */
    }

    .header__nav__list__element a {
        display: block;
        color: var(--secondary-color);
        text-decoration: none;
        cursor: pointer;
    }
    


}