.cuerpo{
    border-style: groove;
    border-radius: 2%;
    border-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    height: auto;
    flex-basis: 18.75rem;
    flex-grow: 1; 
    flex-shrink: 1; 
    min-width: 17.5rem;
    max-width: 90%;

}

.titulo{
    color: var(--secondary-color);
}

.descrip{
    height: auto;
    width: auto;
    text-align: justify;

}

.imagen{
    display: flex;
    width: 100%;
    height: 10rem;
    overflow: hidden;

}


.projectImage{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.tech{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-color: var(--tertiary-color);
    border-style:groove;
}

.cardActions{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding-top: 1.5rem;
}


/* Modificaciones para el diseño responsive
 */

 @media screen and (min-width: 320px) and (max-width: 767px) {
    .cuerpo{
        border-style: groove;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
        flex-basis: 18.75rem;
        flex-grow: 1; 
        flex-shrink: 1; 
        
    }

    

    .imagen{
    display: flex;
    width: auto;
    height: 10rem;

}

 }